---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oops">
  <main>
    <span class="text-9xl font-bold text-slate-800">404</span>
    <h2 class="text-xl font-bold mb-4">This page does not exist (yet)!</h2>
  </main>
</Layout>
