---
import Layout from "../layouts/Layout.astro";
import Project, { type ProjectProps } from "../components/Project.astro";

const projects: ProjectProps[] = [
  {
    title: "Arkana",
    description:
      "Arkana is an CLI flashcard application written in Rust. It has CSV support and uses the Clap and Ratatui libraries.",
    url: "https://github.com/mbvissers/arkana",
    year: 2025,
  },
  {
    title: "Portfolio",
    description:
      "This portfolio website is one of the projects! Created to have a place to showcase my little projects. Written in Astro and styled with Tailwind.",
    url: "https://github.com/mbvissers/portfolio",
    year: 2025,
  },
  {
    title: "Dotfiles",
    description:
      "My dotfiles are a public repository featuring some of my configuration files for my workstation. My Neovim config is my most precious config.",
    url: "https://github.com/mbvissers/dotfiles",
    year: 2025,
  },
];
---

<Layout title="Projects">
  <main>
    <div>
      <h2 class="mb-4 text-2xl font-bold">Projects</h2>
      <p class="mb-4">This page features some of my personal projects.</p>
      <p class="mb-4">
        Reasons for these projects range from learning a new programming
        language or framework, to having an interest in a topic and playing
        around with that.
      </p>
      <ul>
        {projects.map((project) => <Project project={project} />)}
      </ul>
    </div>
  </main>
</Layout>
