---
import Layout from "../layouts/Layout.astro";
import Countdown from '../components/Countdown.astro';
---

<Layout title="❤️">
  <main>
    <div>
      <h2 class="mb-4 text-2xl font-bold">Relationship</h2>
      <p class="mb-4">
        I love my girlfriend.
      </p>
      <div>
        <Countdown></Countdown>
      </div> 
    </div>
  </main>
</Layout>
