
---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <main>
    <!-- Layout similar to real resume. Two columns. No company or school names -->
    <div class="grid grid-cols-3">
      <div class="bg-red-200">
        {/* Left col */}
        bla
      </div>
      <div class="col-span-2 bg-blue-200">
        {/* right col */}
        bla
      </div>
    </div>
  </main>
</Layout>
