
---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <main>
    <div>
      <h2 class="mb-4 text-2xl font-bold">Resume 🚧</h2>
      <p class="mb-4">This is my resume with skills, experience, and professional projects.</p>
      <p class="mb-4">
        Keep in mind that this is <i>anonymized</i> and shows my experience, rather than the actual companies I've worked for
      </p>
    </div>
    <!-- Layout similar to real resume. Two columns. No company or school names -->
    <div class="grid grid-cols-3">
      <div class="bg-red-200">
        {/* Left col */}
        bla
      </div>
      <div class="col-span-2 bg-blue-200">
        {/* right col */}
        bla
      </div>
    </div>
  </main>
</Layout>
