
---
export interface ProjectProps {
  title: string,
  description: string,
  url: string,
  year: number
}

const {title, description, url, year} = Astro.props.project as ProjectProps
---


<li class="project">
  <h5 class="title">{title}<span class="text-xs italic opacity-75">&nbsp;({year})</span></h5>
  <span class="description">{description}</span>
  <span class="link"><a href={url} target="_blank">Check it out!</a></span>
</li>

<style>
  @reference "../styles/global.css";

  li.project {
    @apply mb-4;
  }

  li.project > .title {
    @apply text-xl font-bold mb-2;
  }
</style>
